html, body {
  height: 100%;
  width: 100%;
}

body {
	background-color: #dedede;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: Verdana;
  font-size: 100%;
}

h2 {
  font-family: Verdana;
  font-size: 100%;
}

label {
  font-family: Verdana;
  font-size: 80%;
}

input {
  background-color: #ffffff;
  color: black;
}

#bannerimage {
  width: 100%;
  background-image: url(/banner.jpg);
  height: 405px;
  /*background-color: purple;*/
  background-position: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #dedede;
  overflow: hidden;
  font-family: Verdana;
  font-size: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Verdana;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
  font-family: Verdana;
  font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #b0b0b0;
  color: white;
  font-family: Verdana;
  font-size: 15px;
}

.topnav-right {
  float: right;
}

.hero-image {
  background-image: url("images/banner.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 170%;
  
}

.button {
  background-color: #ffffff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input {
  height: 40px;
}

#wrapper {
    width: 900px;
    border: 1px solid dedede;
    overflow: hidden; 
}
#first {
    width: 450px;
    float:left; 
    border: 1px solid dedede;
}
#second {
    border: 1px solid dedede;
    overflow: hidden; 
}

input1 {
  
  background-color: #86c86a;
 
}

button1 {
  height: 40px;
  border: 2px solid black;
  color: black;
  background-color: #86c86a;
  font-size: 16px;
  border-radius: 50px;
  width: 100px;
}

table {
  border: 1px solid black;
  background-color: #ffffff;
  width: 450px;
}